/**
 * Container
 */
.em-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    
    @include bp(tablet-s) {
        max-width: 540px;
    }
    
    @include bp(tablet) {
        max-width: 720px;
    }
    
    @include bp(desktop) {
        max-width: 960px;
    }
    
    @include bp(desktop-m) {
        max-width: 1140px;
    }  
}

/**
 * Grid
 */
.em-row {
    display: flex;
    flex-wrap: wrap;
}

/**
 * Columns
 */
.em-col {
    flex: 0 0 100%;
    max-width: 100%;    
}

.em-col-1 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    @include bp(tablet) {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
}

.em-col-2 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    @include bp(tablet) {
        flex: 0 0 16.666666%;
        max-width: 16.666666%;
    }
}

.em-col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    @include bp(tablet) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.em-col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
        
    @include bp(tablet) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.em-col-5 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
        
    @include bp(tablet) {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
    }
}

.em-col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
        
    @include bp(tablet) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.em-col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
        
    @include bp(tablet) {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

.em-col-8 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
        
    @include bp(tablet) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

/**
 * Offset
 */

.em-col-offset-1 {
    margin-left: 8.333333%;    
}
