


/**
 * back to top button
 */




/*--------------------------------------------------------------
5.0 Slider
--------------------------------------------------------------*/
/**
 * general slider formatting
 */
.mdw-wp-slider .carousel-indicators {
  bottom: 5px; }

.mdw-wp-slider .carousel-inner > .item {
  height: 100%; }

.mdw-wp-slider .carousel-caption {
  font-size: 18px; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  margin: 0 auto; }




/* projects */
.home-feature {
	margin: 15px 0;
}
.home-feature .project-wrap {
	padding: 0;
}
.home-feature .project {

}

.home-feature .project img {

}
.home-feature .project a {
	color: #fff;
}
.home-feature .project h3 {
	font-size: 18px;
	text-align: center;
	margin: 0;
}
.home-feature .project .title {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(58, 58, 58, 0.70);
	width: 100%;
	height: 100%;
}
.home-feature .project .title h3 {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* tools i use */
.tools-i-use {
	background: #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 15px 0;
}
.tools-i-use .tools-block {
	text-align: center;
}
.tools-i-use .tools-block .fa {
	font-size: 65px;
}

/**
 * about on home
 */
.home-about .image {
	float: left;
	margin: 0 15px 5px 0;
}
.home-about .image img {
	max-width: 300px;
}

/** about page
---------------*/
.term-list {
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
.term-skills h3 {
	margin-top: 0;
}

/** portfolio page
-------------------*/
.filter-wrapper .filter li.active,
.filter-wrapper .filter li.active a {
	background: #ed564b;
}
.filter-wrapper a:link,
.filter-wrapper a:visited {
	color: #6f7779;
}
.filter-wrapper a:hover,
.filter-wrapper a:active {
	color: #ed564b;
}
/* port single */
.single-portfolio .post-thumbnail {
	margin-bottom: 20px;
}

/** general colors, fonts, etc
-------------------------------*/
.red {
	color: #ed564b;
	background: #ed564b;
}
.light-blk {
	color: #3b3b3b;
	background: #3b3b3b;
}
.gray {
	color: #aaa;
	background: #aaa;
}
.black {
	color: #000;
	background: #000;
}




/* portfolio (project) single
------------------------------ */


.project-details {

}
.project-details a {
	color: #ed564b;
}
.project-details a:hover {
	text-decoration: underline;
}
h3.project-details-title {
	margin-top: 0;
}
.project-details-list {
	list-style-type: none;
	margin: 0;
}
.project-details-list > li {

}
.project-details-list > li > .header {
	font-weight: bold;
}
.project-details > .skills,
.project-details > .services {
	list-style-type: none;
	margin: 0 0 0 10px;
}
.projects .entry-content,
.project-details {
	margin-top: 20px;
}
.post-navigation {
	border-top: 1px solid #ccc;
	margin-top: 15px;
}
.post-navigation .meta-nav {
	display: none;
}

/**
 * plugins page
**/
article.plugin {
	overflow: hidden;
}
article.plugin a {
	color: #ed564b;
}
article.plugin a:hover {
	text-decoration: underline;
}
article.plugin img {
	float: left;
	margin: 0 10px 5px 0;
}
