footer {
    border-top: none; 
    background: #3b3b3b;
    color: #fff;
    margin-top: 30px;

    .footer-widgets {
        padding: 10px 0 20px 0;
        overflow: hidden;
        
        .footer-widget {
            display: inline-block;
            @include column-width(3);
            margin-right: 3.8%;
            float: right;
            
            &:last-child {
                margin-right: 0;
            }
            
            h3 {
                font-size: 16px;
                margin-bottom: 10px;
                padding: 10px 0px;
                color: #fff;
                text-transform: uppercase;            
            }
            
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0; 
            }
            
            a,
            a:visited {
                color: #fff;        
            }
            
            a:focus,
            a:hover {
                color: #ccc;
            }
            
            .social-media li {
                font-size: 30px;
                float: left;
                padding-right: 10px;
            
                a:hover {
                    color: #ccc;
                }        
            }
        }
    }
    
    .copyright {
        padding: 10px 0;
        text-align: center;
        margin: 20px 0 0 0;
        color: #fff; 
    }    
}

.home footer {
    margin-top: 0;
}
