/**
 * portfolio (project) page
 */
 .emdotnet-portfolio-wrapper {
    width: 100%;

    .filter-wrapper {
        .filter {
            
            li {
                float: left;
                
                &.active {
                    background: #ed564b;
                        
                    a {
                        background: #ed564b;
                        color: #fff;    
                    }
                }
            }
        }
        
        a {
            text-decoration: none;
        }
        
        a:link,
        a:visited {
        	color: #6f7779;    
        }
        
        a:hover,
        a:active {
            color: #ed564b;    
        }
    }

    #portfolio-grid {
        .portfolio_item {
            padding-right: 15px;

            a {
                text-decoration: none;
            }   
        }
    }
}

/**
 * portfolio (project) single
 */
.single-projects {
    .project-thumb-wrap {
        margin-bottom: 30px;
    }

    .project-details-list {
        padding-left: 1rem;
    	list-style-type: none;
    	margin: 0;
    }
    
    .project-details > .skills,
    .project-details > .services {
    	list-style-type: none;
    	margin: 0;
    	padding-left: 1rem;
    }    
}


.project-details {
    a {
        color: #ed564b;
    }
}
.project-details a:hover {
	text-decoration: underline;
}
h3.project-details-title {
	margin-top: 0;
}

.project-details-list > li {

}
.project-details-list > li > .header {
	font-weight: bold;
}

.projects .entry-content,
.project-details {
	margin-top: 20px;
}
.post-navigation {
	border-top: 1px solid #ccc;
	margin-top: 15px;
}
.post-navigation .meta-nav {
	display: none;
}