.banner {
    max-height: 400px;
    overflow: hidden;
}

/* tools i use */
.tools-i-use {
	background: #eee;
	padding-top: 15px;
	padding-bottom: 15px;

    .tools-block {
    	display: inline-block;
    	text-align: center;
    	width: 100%;
    	@include column-width(5);
    	margin-right: 3.8%;
    
        .fa {
            font-size: 65px;
        }
    }
}