.banner {
    max-height: 400px;
    overflow: hidden;
}

/* tools i use */
.tools-i-use {
	background: #eee;
	padding-top: 15px;
	padding-bottom: 15px;

    .tools-block {
	    text-align: center;
    
        .fa {
            font-size: 65px;
        }
    }
}