.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
    background: #ccc;
    border: 0 solid #ccc;
    border-left: 0;
    border-right: 0;
    text-transform: uppercase;
    margin-top: 0;
    color: #000;
}

/** about page
---------------*/
.term-list {
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
.term-skills h3 {
	margin-top: 0;
}
/**
 * plugins page
**/
article.plugin {
	overflow: hidden;
}
article.plugin a {
	color: #ed564b;
}
article.plugin a:hover {
	text-decoration: underline;
}
article.plugin img {
	float: left;
	margin: 0 10px 5px 0;
}